.main{
    background-image: url("../img/sliit_bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
}
.logoImage{
    max-width:10px;
    display: inline;
}
.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;


/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #063758,  #52023a);
}

@media (min-width: 768px) {
.gradient-form {
    height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
}

